@charset "utf-8";
@import "reset.css";
/* -------------------------------------------------
 * CSS Document
 * check_resume.css
 * -------------------------------------------------
*/
.checkresumes{
	
}
.check_rpage{
	width: 764px;
	margin: 0 auto;
	border:20px solid #edf9ff;
	background: #fff;
	margin-top: 120px;
	padding-top: 100px;
	padding-bottom: 30px;
	position: relative;
	box-shadow: 0px 2px 5px #ccc;
}
.check_rpage h1{
	width: 820px;
	height: 85px;
	color: #fff;
	font-size: 24px;
	margin: 0 auto;
	position: absolute;
	top: 20px;
	line-height: 68px;
	text-indent: 70px;
	left: -40px;
	background: url(../images/fillin_pagebg.png) no-repeat left;
}